.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-logo {
  height: 50px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2c0e3a;
  list-style-type: none;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.score-container p {
  color: white;
  font-family: roboto;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}
.score-container img {
  height: 30px;
}
.nav-container p {
  margin: 0px;
}
.nav-container img {
  margin-left: 10px;
}
